<template>
  <div>
    <el-form :model="form" ref="form" :rules="rules" label-width="80px">
      <el-row>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="姓名" prop="name">
            <el-input type="input" v-model="form.name" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="出生日期" prop="birthday">
            <el-input type="input" v-model="form.birthday" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="性别" prop="sex">
            <el-input type="input" v-model="form.sex" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="教育程度" prop="education">
            <el-input type="input" v-model="form.education" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="地址" prop="address1">
            <el-input type="input" v-model="form.address1" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="手机号" prop="phone">
            <el-input type="input" v-model="form.phone" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
          <el-form-item label="身份证" prop="identity_card">
            <el-input
              type="input"
              v-model="form.identity_card"
              disabled
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <!-- <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="dialogFormVisible = false"
        >确 定</el-button
      >
    </div> -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      formLabelWidth: "120px",
      //   表单变量
      form: {
        id: 0,
        name: "",
        birthday: "",
        sex: "",
        education: "",
        address1: "",
        phone: "",
        identity_card: "",
      },
      rules: {
        name: [{ required: true }],
        birthday: [{ required: true }],
        identity_card: [{ required: true }],
      },
    };
  },
  methods: {
    detail(row) {
      // let res =getLoanList(row)
      this.$nextTick(() => {
        this.form = row;
      });
    },
  },
};
</script>

<style>
</style>