<template>
<!-- 申请管理-编辑页面 -->
  <el-dialog
    title="申请管理-编辑"
    :visible="dialogVisible"
    @close="dialogVisible = false"
    width="30%"
  >
    <div slot="title">
      <span>{{ titletext }}</span>
    </div>
    <edit-form ref="dialogForm"> </edit-form>
    <div slot="footer" class="btns clear-fix">
      <el-button type="primary" @click="submitupdate">提交</el-button>
      <el-button type="primary" @click="claernForm">重置</el-button>
    </div>
  </el-dialog>
</template>

<script>
import editForm from "../form";
import { updateLoan } from "@/apis/loan";

export default {
  name: "editDialog",
  components: {
    editForm,
  },
  data() {
    return {
      titletext: "编辑页面",
      dialogVisible: false,
    };
  },
  methods: {
    showdialog(row) {
      this.dialogVisible=true;
      this.$nextTick(()=>{
        this.$refs.dialogForm.detail(row)
      })
    },
    // 编辑-提交
    async submitupdate() {
      // 提交要调用更新的API,传入的数据是updateForm,用异步加载,
      let res = await updateLoan(this.dialogForm);
      console.log(res);
      if (res.data.code === 20000) {
        // 更新列表数据
        this.getLoanList();
        // 关闭编辑弹窗
        this.dialogVisible = false;
      }
    },
    //编辑-重置
    claernForm() {
      // this.$nextTick(()=>{
        this.$refs.dialogForm.resetFields();
      // })
    },
  },
};
</script>

<style>
</style>