<template>
<!-- 合同管理页面 -->
  <div>
    <el-row>
      <el-col :span="22">
        <el-input
          type="text"
          placeholder="请输入名称"
          v-model="query"
        ></el-input>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" @click="setQueryName">搜索</el-button>
      </el-col>
    </el-row>
    <el-table
      :data="tableData"
      id="gbox"
      :useIndex="true"
      :stripe="true"
      :border="true"
      :fit="true"
      :useMultiSelect="false"
    >
      <el-table-column
        type="index"
        label="序号"
        width="55"
        align="center"
      ></el-table-column>
      <el-table-column
        v-for="(col, index) in columns"
        :key="index"
        :prop="col.prop"
        :label="col.label"
        :width="col.width"
        align="center"
      >
        <template v-slot="{ row, column }">
          <div v-if="column.property === 'opts'">
            <!--5代表终审通过,大于5就代表已经生成合同了，需要禁用-->
            <el-button
              :disabled="row['status'] > 5"
              @click="createContract(row.id)"
              type="primary"
              >生成合同</el-button
            >
            <!--7代表生成合同,不等于7需要禁用-->
            <el-button
              :disabled="row['status'] !== 7"
              @click="downContract(row.id)"
              type="success"
              >下载合同</el-button
            >
          </div>
          <div v-else-if="column.property === 'status'">
            <el-tag :type="row[column.property] === 7 ? 'success' : ''">{{
              row[column.property] === 7 ? "生成合同" : "未生成合同"
            }}</el-tag>
          </div>
          <div v-else>
            {{ row[column.property] }}
          </div>
        </template>
      </el-table-column>
    </el-table>

    <!-- 页码 -->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageOptions.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="rows"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import {
  contractList,
  generateContract,
  downloadContract,
} from "@/apis/loan.js";
import request from '@/utils/request'

export default {
  data() {
    return {
      dialogVisible: false,
      form: {
        id: 0,
        name: "",
        birthday: "",
        identity_card: "",
      },
      rules: {
        name: [{ required: true }],
        birthday: [{ required: true }],
        identity_card: [{ required: true }],
      },
      rows: 0,
      pageOptions: {
        pageNo: 1,
        pageSize: 10,
      },
      query: "",
      // 表格
      tableData: [],
      // 表头
      columns: [
        {
          label: "姓名",
          prop: "name",
          width: "100",
        },
        {
          label: "身份证",
          prop: "identity_card",
          width: "260",
        },
        {
          label: "合同状态",
          prop: "status",
          width: "160",
        },
        {
          label: "操作",
          prop: "opts",
        },
      ],
    };
  },
  methods: {
    // 分页
    handleSizeChange(val) {
      this.pageOptions.pageSize = val;
      this.getContractList();
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.pageOptions.pageNo = val;
      this.getContractList();
      console.log(`当前页: ${val}`);
    },
    // 模糊搜索
    setQueryName() {
      this.pageOptions.name = this.query;
      let res = this.getContractList(this.pageOptions);
      this.pageOptions.name = null;
      console.log(res);
    },
    // 查看
    showInfo(row) {
      this.dialogVisible = true;
      this.form = row;
    },
    // 通过
    async submit(id, flag) {
      let res = await approveFirst(id, flag);
      if (res.data.code === 20000) {
        this.getContractList();
      }
      console.log(res);
    },
    //转换生日
    getBirthday(date) {
      let dateNow = new Date(date);
      function convert(data) {
        return data < 10 ? "0" + data : data;
      }
      let year = dateNow.getFullYear();
      let month = convert(dateNow.getMonth() + 1);
      let day = convert(dateNow.getDate());

      let hours = convert(dateNow.getHours());
      let minutes = convert(dateNow.getMinutes());
      let seconds = convert(dateNow.getSeconds());
      let data =
        year +
        "-" +
        month +
        "-" +
        day +
        " " +
        hours +
        ":" +
        minutes +
        ":" +
        seconds;
      // console.log(data);
      return data;
    },
    async createContract(id){
    let res =  await generateContract(id)
    if(res.data.code===20000){
        this.getContractList()
    }
},
    async downContract(id){
        let res =  await downloadContract(id)
        if(res.data.code===20000){
            //对请求回来的地址去除/api
            let url=res.data.data.url.replace('/api','')
            let fileName='贷款合同-' + id + '.docx'
            //使用拆分的url再次请求，并指定请求返回的数据类型为'blob
            let res2 =await request({
                url,
                responseType:'blob'
            })
            // 内存中的临时指向
            let link = window.URL.createObjectURL(res2.data)
            // 创建a标签
            let tagA = document.createElement('a')
            // tag
            tagA.href = link
            tagA.download = fileName
            // 隐藏a标签
            tagA.style.display = 'none'
            // 插入到body中
            document.body.appendChild(tagA)
            // 点击a标签
            tagA.click()
            // 释放资源 
            document.body.removeChild(tagA)
            // 释放临时url
            window.URL.revokeObjectURL(url)
        }
    },
    //异步获取数据

    async getContractList() {
      let res = await contractList(this.pageOptions);
      if (res.data.code === 20000) {
        this.tableData = res.data.data.data.data
        this.rows = res.data.data.rows;
      }
    },
  },
  mounted() {
    this.getContractList();
  },
};
</script>

<style scoped>
.el-row {
  margin-bottom: 10px;
}
</style>