<template>
<!-- 搜索页面 -->
  <el-form ref="form" :model="query" :label-width="'40px'">
    <el-row>
      <div class="form_top">

      <el-col v-for="item in option" :key="item.prop" >
        <el-form-item :label="item.label" :prop="item.prop">
          <el-input
            v-if="item.type === 'Input'"
            v-model="query[item.prop]"
            :placeholder="'请输入' + item.label"
            clearable
            size="mini"
          />
          <el-select
            v-model="query[item.prop]"
            v-if="item.type === 'Select'"
            :placeholder="'请选择' + item.label"
            :filter="item.filter"
            clearable
            size="mini"
          >
            <el-option
              v-for="sex in item.options"
              :key="sex.value"
              :label="sex.label"
              :value="sex.value"
            >
            </el-option>
          </el-select>
        </el-form-item>
      </el-col>
      </div>

      <!-- 留一个插槽 <slot/> 给按钮用 -->
      <span class="btn-fotter">
        <slot />
      </span>
    </el-row>
  </el-form>
</template>

<script>
export default {
  name: "EuSearchForm",
  props: {
    query: {
      type: Object,
      default: () => {
        return {};
      },
    },
    option: {
      type: Array,
      default: () => {
        return {};
      },
    },
  },
};
</script>

<style scoped>
/* .el-form {
  display: flex;
  flex-direction: row;
} */
/* .el-card__body{
  width: 100%;
  display: flex;
} */
.form_top{
  display: flex;
}
.el-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
}
.el-col{
  display: flex;
  width: 200px;
  margin-right: 50px;
}
.btn-fotter{
  line-height: 40px;
  display: flex;
  justify-content: flex-end;
}

</style>