<template>
<!-- 贷款申请页面 -->
  <div>
    <el-form :model="form" ref="form" :rules="rules" label-width="80px">
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>个人基本信息</span>
        </div>
        <!-- 第一行 -->
        <el-row>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <!-- prop的值是下面form后面的属性名也就是name -->
            <el-form-item label="姓名" prop="name">
              <!-- 等所有表单写完统一设置属性接收- -->
              <el-input type="input" v-model="form.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="出生日期" prop="birthday">
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="form.birthday"
                style="width: 100%"
              ></el-date-picker>
              <!-- <el-col class="line" :span="2">-</el-col> -->
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="性别" prop="sex">
              <el-select v-model="form.sex">
                <el-option label="男" value="man" key="man"></el-option>
                <el-option label="女" value="woman" key="woman"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="证件号码" prop="identity_card">
              <el-input v-model="form.identity_card"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- 第二行 -->
        <el-row>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="婚姻状态" prop="marriage">
              <el-select v-model="form.marriage">
                <el-option
                  label="已婚"
                  value="married"
                  key="married"
                ></el-option>
                <el-option
                  label="未婚"
                  value="unmarried"
                  key="unmarried"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="教育程度" prop="education">
              <el-select v-model="form.education">
                <el-option label="大学" value="colloge" key="colloge"></el-option>
                <el-option
                  label="高中"
                  value="highschool"
                  key="highschool"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="居住地址" prop="address1">
              <el-input type="input" v-model="form.address1"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <!-- 第三行 -->
        <el-row>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="户籍地址" prop="address2">
              <el-input type="input" v-model="form.address2"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="居住电话" prop="phone">
              <!-- apperarance=none 取消数字框后面的上下按钮 -->
              <el-input type="number" v-model="form.phone"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="手机号" prop="mobile_phone">
              <el-input type="number" v-model="form.mobile_phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <!-- 第二个卡片 -->
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>所属行业</span>
        </div>
        <el-row>
          <el-col :xl="8" :lg="6" :md="12" :sm="24" :xs="24">
            <el-form-item label="现职公司" prop="company">
              <el-input type="input" v-model="form.company"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="6" :md="12" :sm="24" :xs="24">
            <el-form-item label="所属行业" prop="trade">
              <el-select v-model="form.trade">
                <el-option label="教育" value="education" key="education"></el-option>
                <el-option
                  label="金融"
                  value="finance"
                  key="finance"
                ></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="6" :md="12" :sm="24" :xs="24">
            <el-form-item label="职位" prop="position">
              <el-input type="input" v-model="form.position"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="6" :md="12" :sm="24" :xs="24">
            <el-form-item label="公司地址" prop="address3">
              <el-input type="input" v-model="form.address3"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="公司类型" prop="company_type">
              <el-input type="input" v-model="form.company_type"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="公司邮箱" prop="company_email">
              <el-input type="input" v-model="form.company_email"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="8" :lg="8" :md="12" :sm="24" :xs="24">
            <el-form-item label="公司电话" prop="company_phone">
              <el-input type="input" v-model="form.company_phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <!-- 第三个卡片 -->
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>收支情况</span>
        </div>
        <el-row>
          <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
            <el-form-item label="收支情况" prop="income">
              <el-input type="input" v-model="form.income"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <!-- 第四个卡片 -->
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>家庭联系人</span>
        </div>
        <el-row>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="关系1" prop="contact">
              <el-input type="input" v-model="form.contact"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="姓名" prop="contact_name">
              <el-input type="input" v-model="form.contact_name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="手机" prop="contact_phone">
              <el-input type="input" v-model="form.contact_phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <!-- 第四个卡片 -->
      <el-card class="box-card">
        <div slot="header" class="clearfix">
          <span>工作证明人</span>
        </div>
        <el-row>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="关系2" prop="contact2">
              <el-input type="input" v-model="form.contact2"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="姓名" prop="contact2_name">
              <el-input type="input" v-model="form.contact2_name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="12" :lg="12" :md="12" :sm="24" :xs="24">
            <el-form-item label="手机" prop="contact2_phone">
              <el-input type="input" v-model="form.contact2_phone"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
            <el-form-item label="部门" prop="contact2_dep">
              <el-input type="input" v-model="form.contact2_dep"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
            <el-form-item label="职位" prop="contact2_pos">
              <el-input type="input" v-model="form.contact2_pos"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :xl="12" :lg="12" :md="24" :sm="24" :xs="24">
            <el-form-item label="备注" prop="remark">
              <el-input type="textarea" v-model="form.remark"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
      <el-button @click="createUser" type="primary">立即创建</el-button>
      <el-button @click="reset">重置</el-button>
    </el-form>
  </div>
</template>

<script>
import {createLoan} from "@/apis/loan"
export default {
  data() {
    return {
      form: {
        name: "",
        birthday: "",
        sex: "",
        identity_card: "",
        marriage: "",

        education: "",
        address1: "",
        address2: "",
        phone: "",
        mobile_phone: "",

        company:"",
        trade:'',
        position:'',
        address3:'',
        company_type:'',
        company_email:'',
        company_phone:'',

        income:'',
        contact:'',
        contact_name:'',
        contact_phone:'',
        contact2:'',
        contact2_name:'',
        contact2_phone:'',
        contact2_dep:'',
        contact2_pos:'',
        remark:'',
      },
      // 校验规则
      rules: {
          name: [
            { required: true, message: '请输入姓名', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          birthday: [
            { type: 'date', required: true, message: '请选择日期', trigger: 'change' }
          ],
          sex: [
            {  required: true, message: '请选择性别', trigger: 'change' }
          ],
          identity_card: [
            { required: true, message: '请输入证件号码', trigger: 'blur' }
          ],
          marriage: [
            { required: true, message: '请选择婚姻状态', trigger: 'change' }
          ],
          education: [
            { required: true, message: '请选择教育程度', trigger: 'change' }
          ],
          address1: [
            {  required: true, message: '请输入居住地址', trigger: 'blur' }
          ],
          address2: [
            {  required: true, message: '请输入户籍地址', trigger: 'blur' }
          ],
          phone: [
            {  required: true, message: '请输入电话', trigger: 'blur' }
          ],
          mobile_phone: [
            {  required: true, message: '请输入电话', trigger: 'blur' }
          ],
          // company: [
          //   {  required: true, message: '请选择收支情况', trigger: 'blur' }
          // ],

      },
    };    
  },
  methods:{
    createUser(){
      this.$refs.form.validate((valid)=>{
        if(!valid){
          this.$message("表单验证不通过");
          return false;
        }else{
          let res = createLoan(this.form);
          if(res?.data?.code === 20000) {
            console.log("11111");
            this.$message("表单验证成功")
          }
        }
      })
    },
    reset(){
      this.$refs.form.resetFields();
    }
  }
};
</script>

<style scoped>
.box-card {
  width: 100%;
  margin-bottom: 20px;
}
.box-card .clearfix {
  text-align: left;
}
.el-select {
    display: flex;
}
.el-form-item {
    margin-bottom: 22px;
    margin-right: 50px;
}
.el-form-item input {
  appearance: none;
}
</style>