<template>
  <div class="home">
    <!-- 1、栅格布局 -->
    <el-row :getter="10">
      <el-col
        :xl="6"
        :lg="6"
        :md="12"
        :sm="24"
        :xs="24"
        v-for="(item, index) in list"
        :key="index"
      >
        <div class="dashboard-item" :style="{ background: item.color }">
          <p>{{ item.title }}</p>
          <count-to
            :startVal="0"
            :endVal="item.val"
            :duration="3000"
          ></count-to>
        </div>
      </el-col>
    </el-row>
    <!--2、 echarts图表 -->
    <div class="echarts-box">
      <div class="chart1"></div>
      <div class="chart2"></div>
      <div class="chart3"></div>
    </div>
  </div>
</template>

<script>
import countTo from "vue-count-to";
import echarts from "echarts";

export default {
  components: {
    countTo,
    echarts,
  },
  data() {
    return {
      list: [
        { val: 13594, title: "最高可借金额", color: "#67ca3a" },
        { val: 9833, title: "回报率", color: "#ff6600" },
        { val: 8888, title: "业绩领跑", color: "#f56c6c" },
        { val: 6666, title: "安稳底薪战队", color: "#409eff" },
      ],
    };
  },
  methods: {
    initCharts() {
      // 基于准备好的dom，初始化echarts实例
      // this是绑定Vue实例,后续改变页面的大小,更新图表的大小
      this.chart1 = echarts.init(document.querySelector(".chart1"));
      // console.log(chart1);
      // 绘制图表
      let option1 = {
        title: {},
        tooltip: {
          trigger: "axis",
        },
        legend: {
          data: ["Email", "Union Ads", "video Ads", "pirect", "search Engine"],
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        toolbox: {
          feature: {
            saveAsImage: {},
          },
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["A", "B", "C", "D", "E"],
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            name: "Email",
            data: [10, 32, 88, 43, 43, 43, 49],
            type: "line",
            stack: "x",
          },
          {
            name: "Union Ads",
            data: [55, 14, 3, 5, 43, 43, 30],
            type: "line",
            stack: "x",
          },
          {
            name: "video Ads",
            data: [65, 14, 13, 85, 43, 43, 20],
            type: "line",
            stack: "x",
          },
          {
            name: "pirect",
            data: [75, 24, 3, 65, 43, 53, 40],
            type: "line",
            stack: "x",
          },
          {
            name: "search Engine",
            data: [15, 24, 33, 45, 43, 33, 10],
            type: "line",
            stack: "x",
          },
        ],
      };
      this.chart1.setOption(option1);
      //第二个图表，柱状图
      this.chart2 = echarts.init(document.querySelector(".chart2"));
      let option2 = {
        xAxis: {
          data: ["A", "B", "C", "D", "E"],
        },
        yAxis: {},
        series: [
          {
            type: "bar",
            data: [10, 22, 28, 43, 49],
            barWidth: "20%",
          },
        ],
      };
      this.chart2.setOption(option2);
      // 第三图表，饼状图
      this.chart3 = echarts.init(document.querySelector(".chart3"));
      let option3 = {
        series: [
          {
            type: "pie",
            data: [
              {
                value: 335,
                name: "直接访问",
              },
              {
                value: 234,
                name: "联盟广告",
              },
              {
                value: 1548,
                name: "搜索引擎",
              },
            ],
          },
        ],
      };
      this.chart3.setOption(option3);
    },
    resize() {
      this.chart1.resize();
      this.chart2.resize();
      this.chart3.resize();
    },
  },
  mounted() {
    this.initCharts();
    this.resizeCallback = this.resize.bind(this);
    window.addEventListener("resize", this.resizeCallback); //监听事件，监听到resizeCallback这个方法
  },
};
</script>
<style  scoped>
.dashboard-item {
  height: 100px;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
  /* // padding: 25px 0; */
  margin: 0 10px;
  margin-bottom: 30px;
}
.dashboard-item > p {
  color: black;
  height: 40px;
  margin: 0;
}
.echarts-box .chart1 {
  height: 300px;
  width: 100%;
}
.echarts-box .chart2,
.chart3 {
  height: 300px;
  width: 50%;
}
.echarts-box .chart2 {
  float: left;
}
.echarts-box .chart3 {
  float: right;
}
</style>