<template>
    <div class="login-box">
      <div class="login-input-box">
        <h1>信贷后台管理系统</h1>
        <el-form
          :model="ruleForm"
          status-icon
          :rules="rules"
          ref="ruleForm"
          label-width="100px"
          class="demo-ruleForm"
        >
          <el-form-item label="账户" prop="username">
            <el-input v-model="ruleForm.username"></el-input>
          </el-form-item>
          <el-form-item label="密码" prop="pass">
            <el-input
              type="password"
              v-model="ruleForm.pass"
              autocomplete="off"
            ></el-input>
          </el-form-item>
          <!-- <el-form-item label="确认密码" prop="checkPass">
            <el-input
              type="password"
              v-model="ruleForm.checkPass"
              autocomplete="off"
            ></el-input>
          </el-form-item> -->
            <el-button type="primary" @click="submitForm('ruleForm')"
              >提交</el-button
            >
        </el-form>
      </div>
    </div>
</template>

<script>
// 引入后在下面调用
import {doLogin} from "@/apis/user.js";


export default {
    data(){
        return {
        ruleForm: {
            username:'',
            pass: '',
            checkPass: ''
        },
        rules: {
          username:[
                {required: true, trigger: 'blur', message:"请输入用户名"}
            ],
          pass: [
            { required: true, validator: this.validatePass, trigger: 'blur' }
          ],
        }
      };
    },
         //   在 methods 方法中添加表单提交方法和密码限制的 validatePass 方法
     methods: {
      validatePass(rule,value,callback){
        if(value === ""){
            callback(new Error("请输入密码"));
        }else if(value.length < 6){
            callback(new Error("密码不能小于6位数"))
        }else{
            callback();
        }
      },
      submitForm(formName) {
        //验证规则
        this.$refs[formName].validate((valid) => {
          if (valid) {
            this.login(this.ruleForm)
          } else {
            return false;
          }
        });
      },
      // login(){
      //   this.$router.replace("/home")
      // }
      async login(form){
        let res = await doLogin(form);
        // console.log(form);
        // console.log(res);
        // console.log(res.data)
        if(res?.data?.code ===20000) {
          if(res?.data?.data.token) {
            localStorage.setItem("token", res.data?.data.token);
          }
        }

        this.$router.replace("/home")
      }
    }
};
</script>

<style>
</style>