<template>
  <div>
    <el-card>
      <div>
        <search-form :query="searchform" :option="newoption">
          <el-button size="mini" type="primary" @click="setQueryName">搜索</el-button>
        </search-form>
      </div>
    </el-card>
    <el-table
      :data="tableData"
      id="gbox"
      :useIndex="true"
      :stripe="true"
      :border="true"
      :fit="true"
      :useMultiSelect="false"
    >
      <el-table-column
        type="index"
        label="序号"
        width="55"
        align="center"
      ></el-table-column>
      <el-table-column
        v-for="(col, index) in columns"
        :key="index"
        :prop="col.prop"
        :label="col.label"
        :width="col.width"
        align="center"
      >
        <template v-slot="{ row, column }">
          <div v-if="column.property === 'opts'">
            <el-button type="primary" @click="showInfo(row)">查看</el-button>
            <el-button type="success" @click="submit(row.id, 'pass')"
              >通过</el-button
            >
            <el-button type="danger" @click="submit(row.id, 'reject')"
              >拒绝</el-button
            >
          </div>
          <div v-else>{{ row[column.property] }}</div>
        </template>
      </el-table-column>
    </el-table>
    <!-- 查看页面   分离到view文件中了-->
    <!-- <el-dialog
      title="贷款审批-查看详情"
      :visible="dialogVisible"
      @close="dialogVisible = false"
      width="30%"
    >
      <el-form :model="form" ref="form" :rules="rules" label-width="80px">
        <el-row>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="姓名" prop="name">
              <el-input type="input" v-model="form.name" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="出生日期" prop="birthday">
              <el-input
                type="input"
                v-model="form.birthday"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="性别" prop="sex">
              <el-input type="input" v-model="form.sex" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="教育程度" prop="education">
              <el-input
                type="input"
                v-model="form.education"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="地址" prop="address1">
              <el-input
                type="input"
                v-model="form.address1"
                disabled
              ></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="手机号" prop="phone">
              <el-input type="input" v-model="form.phone" disabled></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="24" :lg="24" :md="12" :sm="24" :xs="24">
            <el-form-item label="身份证" prop="identity_card">
              <el-input type="input" v-model="form.name" disabled></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div class="btns clear-fix">
        <el-button type="primary" @click="dialogVisible = !dialogVisible"
          >取消</el-button
        >
      </div>
    </el-dialog> -->
    <!-- 查看页面 -->
    <view-form ref="view"></view-form>
    <!-- 页码 -->
    <div class="block">
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pageOptions.pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="rows"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script>
import { queryList, approveFirst } from "@/apis/loan";
import SearchForm from "@/views/loan-approval/searchForm/index.vue";
import { formOption } from "../loan-approval/searchForm";
import viewForm from "../loan-approval/view/index.vue";
export default {
  components: { SearchForm, viewForm },
  data() {
    return {
      newoption: formOption(),
      searchform: {
        name: "",
        birthday: "",
      },
      dialogVisible: false,
      form: {
        // id: 0,
        // name: "",
        // birthday: "",
        // identity_card: "",
        id: 0,
        name: "",
        birthday: "",
        sex: "",
        education: "",
        address1: "",
        phone: "",
        identity_card: "",
      },
      rules: {
        name: [{ required: true }],
        birthday: [{ required: true }],
        identity_card: [{ required: true }],
      },
      rows: 0,
      pageOptions: {
        pageNo: 1,
        pageSize: 10,
      },
      query: "",
      // 表格
      tableData: [],
      // 表头
      columns: [
        {
          label: "姓名",
          prop: "name",
          width: "80",
        },
        {
          label: "出生日期",
          prop: "birthday",
          width: "160",
        },
        {
          label: "身份证",
          prop: "identity_card",
          width: "260",
        },
        {
          label: "操作",
          prop: "opts",
          // width: "280",
        },
      ],
    };
  },
  methods: {
    // 分页
    handleSizeChange(val) {
      this.pageOptions.pageSize = val;
      this.getfirstList();
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.pageOptions.pageNo = val;
      this.getfirstList();
      console.log(`当前页: ${val}`);
    },
    // 模糊搜索
    setQueryName() {
      this.pageOptions.name = this.searchform.name;
      this.pageOptions.birthday = this.searchform.birthday; //后台无生日查询
      let res = this.getfirstList(this.pageOptions);
      this.pageOptions.name = null;
      console.log(res);
    },
    // 查看
    showInfo(row) {
      console.log('row');
       this.$refs.view.dialogVisible = true
      // this.dialogVisible = true;
      // this.view = row;
    },
    // 通过
    async submit(id, flag) {
      let res = await approveFirst(id, flag);
      if (res.data.code === 20000) {
        this.getfirstList();
      }
      console.log(res);
    },
    //转换生日
    getBirthday(date) {
      let dateNow = new Date(date);
      function convert(data) {
        return data < 10 ? "0" + data : data;
      }
      let year = dateNow.getFullYear();
      let month = convert(dateNow.getMonth() + 1);
      let day = convert(dateNow.getDate());

      let hours = convert(dateNow.getHours());
      let minutes = convert(dateNow.getMinutes());
      let seconds = convert(dateNow.getSeconds());
      let data =
        year +
        "-" +
        month +
        "-" +
        day +
        " " +
        hours +
        ":" +
        minutes +
        ":" +
        seconds;
      // console.log(data);
      return data;
    },
    //异步获取数据

    async getfirstList() {
      let res = await queryList(this.pageOptions);
      if (res?.data?.code === 20000) {
        // .map对col进行遍历
        this.tableData = res.data.data.data.data.map((col) => {
          col.birthday = this.getBirthday(col.birthday);
          return col;
        });
      }
      this.rows = res.data.data.rows;
      console.log(res);
    },
  },
  mounted() {
    this.getfirstList();
  },
};
</script>

<style scoped>
.el-row {
  margin-bottom: 10px;
}
.el-card{
  margin-bottom: 15px;
}
</style>