<template>
  <div>
    <el-row>
      <el-col :span="22">
        <el-input
          type="text"
          placeholder="请输入名称"
          v-model="query"
        ></el-input>
      </el-col>
      <el-col :span="2">
        <el-button type="primary" @click="queryName()">搜索</el-button>
      </el-col>
    </el-row>
    <el-table :data="tableData" stripe style="width: 100%">
      <el-table-column
        type="index"
        label="序号"
        width="70"
        align="center"
      ></el-table-column>
      <el-table-column
        v-for="(item, index) in columns"
        :key="index"
        :prop="item.prop"
        :label="item.label"
        :width="item.width"
        align="center"
      >
        <!-- //插槽 column代表所有的列信息,row当前行的信息 -->
        <template v-slot="{ column, row }">
          <div v-if="column.property === 'status'">
            <!--{{ row[column.property] | status }}做一个过滤器,后面的statusColor要在filters（过滤器）中定义  -->
            <el-tag :type="row[column.property] | statusColor">{{
              row[column.property] | status
            }}</el-tag>
          </div>
          <div v-else-if="column.property === 'opts'">
            <el-button
              type="primary"
              @click="editApplication(row)"
              :disabled="[0, 2, 3, 6].indexOf(row['status']) === -1"
              >编辑</el-button
            >
            <el-button type="danger" @click="deleteApplication(row.id)"
              >删除</el-button
            >
            <el-button
              type="success"
              @click="submitApplication(row.id)"
              :disabled="[0, 2, 3, 6].indexOf(row['status']) === -1"
              >提交审核</el-button
            >
          </div>
          <div v-else>{{ row[column.property] }}</div>
        </template>
      </el-table-column>
    </el-table>
    <!-- 编辑页面 -->
    <el-dialog
      title="申请管理-编辑"
      :visible="dialogVisible"
      @close="dialogVisible = false"
      width="30%"
    >
      <el-form
        :model="updateForm"
        ref="updateForm"
        :rules="rules"
        label-width="80px"
      >
        <el-row>
          <el-col :xl="20" :lg="20" :md="12" :sm="24" :xs="24">
            <el-form-item label="姓名" prop="name">
              <el-input type="input" v-model="updateForm.name"></el-input>
            </el-form-item>
          </el-col>
          <el-col :xl="20" :lg="20" :md="12" :sm="24" :xs="24">
            <el-form-item label="性别" prop="sex">
              <el-select v-model="updateForm.sex" placeholder="请选择性别">
                <el-option label="男" value="man"></el-option>
                <el-option label="女" value="woman"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <div class="btns clear-fix">
        <el-button type="primary" @click="submitupdate">提交</el-button>
        <el-button type="primary" @click="claernForm">重置</el-button>
      </div>
    </el-dialog>

    <!-- 分页 -->
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pageOptions.pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="rows"
    >
    </el-pagination>
  </div>
</template>

<script>
import { getLoanList, submitLoan, updateLoan, deleteLoan } from "@/apis/loan";

export default {
  filters: {
    statusColor(statusColor) {
      switch (statusColor) {
        case 0:
          return "success";
          break;
        case 1:
          return "";
          break;
        case 2:
          return "success";
          break;
        case 3:
          return "danger";
          break;
        case 4:
          return "warning";
          break;
        case 5:
          return "success";
          break;
        case 6:
          return "danger";
          break;
        case 7:
          return "success";
          break;
        default:
          return "danger";
      }
    },
    //括号中的status是参数，1-7
    status(status) {
      switch (status) {
        case 0:
          return "进件";
          break;
        case 1:
          return "提交初审";
          break;
        case 2:
          return "初审通过";
          break;
        case 3:
          return "初审拒绝";
          break;
        case 4:
          return "提交终审";
          break;
        case 5:
          return "终审通过";
          break;
        case 6:
          return "终审拒绝";
          break;
        case 7:
          return "生成合同";
          break;
        default:
          return "出错了";
      }
    },
  },
  data() {
    return {
      dialogVisible: false, //是否显示对话框
      updateForm: {
        id: 0,
        name: "",
        sex: "",
      },
      rules: {
        name: [{ required: true, message: "必须填写用户名" }],
        sex: [{ required: true, message: "必须填写性别" }],
      },
      pageOptions: {
        //页码
        pageNo: 1,
        //一页显示多少条
        pageSize: 10,
      },
      rows: 0,
      query: "", //名称
      currentPage4: "",
      //表格数据
      tableData: [],
      columns: [
        {
          label: "姓名",
          prop: "name",
          width: "80",
        },
        {
          label: "出生日期",
          prop: "birthday",
          width: "160",
        },
        {
          label: "性别",
          prop: "sex",
        },
        {
          label: "教育程度",
          prop: "education",
        },
        {
          label: "居住地址",
          prop: "address1",
        },
        {
          label: "手机号",
          prop: "mobile_phone",
        },
        {
          label: "申请状态",
          prop: "status",
        },
        {
          label: "操作",
          prop: "opts",
          width: 320,
        },
        // {
        //   label: "配送信息",
        //   prop: "address1",
        // },
      ],
    };
  },
  methods: {
    //删除操作
    async deleteApplication(id) {
      let res = await deleteLoan(id);
      console.log(res);
      if (res.data.code === 20000) {
        this.getLoanList();
      }
      console.log("删除", id);
    },
    //提交审核操作
    async submitApplication(id) {
      let res = await submitLoan(id);
      console.log(res);
      if (res.data.code === 20000) {
        this.getLoanList();
      }
      console.log("提交", id);
    },
    //编辑操作
    editApplication(row) {
      this.dialogVisible = true;
      // 进行数据回显
      this.$nextTick(() => {
        this.updateForm.id = row.id;
        this.updateForm.name = row.name;
        this.updateForm.sex = row.sex;
      });
      // console.log(row);
    },
    // 编辑-提交
    async submitupdate() {
      // 提交要调用更新的API,传入的数据是updateForm,用异步加载,
      let res = await updateLoan(this.updateForm);
      if (res.data.code === 20000) {
        // 更新列表数据
        this.getLoanList();
        // 关闭编辑弹窗
        this.dialogVisible = false;
      }
    },
    //编辑-重置
    claernForm() {
      this.$refs.updateForm.resetFields();
    },
    //搜索、查询
    queryName() {
      this.pageOptions.pageNo = 1;
      this.pageOptions.name = this.query;
      let res = this.getLoanList(this.pageOptions);
      this.pageOptions.name = null;
      console.log(res);
    },
    // 转换生日
    getBitrthday(date) {
      let dateNow = new Date(date);
      function convert(data) {
        return data < 10 ? "0" + data : data;
      }
      let year = dateNow.getFullYear();
      let month = convert(dateNow.getMonth() + 1);
      let day = convert(dateNow.getDate());

      let hours = convert(dateNow.getHours());
      let minutes = convert(dateNow.getMinutes());
      let secounds = convert(dateNow.getSeconds());
      let data =
        year +
        "-" +
        month +
        "-" +
        day +
        " " +
        hours +
        ":" +
        minutes +
        ":" +
        secounds;
      return data;
    },
    // 转换性别,双等于可以不？
    getSet(str) {
      return str === "man" ? "男" : "女";
    },
    // 转换教育程度
    getEducation(str) {
      return str === "college" ? "大学" : "高中";
    },
    async getLoanList() {
      // 异步获取数据加： async  和 await
      let res = await getLoanList(this.pageOptions);
      // 对item进行遍历，
      console.log(res);
      if (res?.data?.code === 20000) {
        this.tableData = res.data.data.data.data.map((item) => {
          item.birthday = this.getBitrthday(item.birthday);
          item.sex = this.getSet(item.sex);
          item.education = this.getEducation(item.education);
          // console.log(res.data.data.data.data);
          return item;
        });
        // 一共有多少条数据
        this.rows = res.data.data.rows;
        console.log(this.rows);
      }
    },
    handleSizeChange(val) {
      this.pageOptions.pageNo = 1;
      this.pageOptions.pageSize = val;
      this.getLoanList();
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      this.pageOptions.pageNo = val;
      this.getLoanList();
      console.log(`当前页: ${val}`);
    },
  },
  mounted() {
    this.getLoanList();
  },
};
</script>

<style>
</style>