<template>
  <div class="breadCrumb">
    <el-breadcrumb separator="/">
      <el-breadcrumb-item :to="{ path: ' ' }">首页</el-breadcrumb-item>
      <el-breadcrumb-item
        ><a href="/">{{ route }}</a></el-breadcrumb-item
      >
      <!-- <el-breadcrumb-item>贷款申请</el-breadcrumb-item>
      <el-breadcrumb-item>贷款查看</el-breadcrumb-item> -->
    </el-breadcrumb>
  </div>
</template>

<script>
export default {
  computed: {
    route() {
      let matched = this.$route.matched;
      return matched[matched.length - 1].meta.title !== "首页"
        ? matched[matched.length - 1].meta.title
        : "";
    },
  },
};
</script>

<style>
.el-breadcrumb__inner a , .el-breadcrumb__inner.is-link{
    font-size: 20px;
    /* background-color: aqua; */
    padding: 5px;
    border-radius: 10px;
}
</style>