<template>
  <div>
    <el-dialog :visible.sync="dialogVisible">
      <div slot="title">
        <span>{{ titletext }}</span>
      </div>
      <view-form ref="dialogForm"></view-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = !dialogVisible">取 消</el-button>
      </div>
    </el-dialog>
  </div>

  <!-- <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="dialogFormVisible = false"
        >确 定</el-button> -->
</template>

<script>
import viewForm from "../form";
export default {
  components: { viewForm },
  name: "ElViewForm",
  data() {
    return {
      titletext: "查看",
      dialogVisible: false,
    };
  },
  methods: {
    showdialog(row) {
      this.dialogVisible = true;
      this.$nextTick(() => {
        this.$refs.dialogForm.detail(row);
      });
    },
  },
};
</script>

<style>
</style>