*{
    margin: 0;
    padding: 0;
}
/* body{
    background-color: aquamarine;
} */
.login-box{
    /* background-image: url(''); */
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-input-box{
    width: 650px;
    height: 320px;
    background-color: #fff;
    /* margin: 100px auto; */
    text-align: center;
    padding: 40px 12px;
}
.demo-ruleForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}
.demo-ruleForm input{
    outline: none;
    width: 400px;
    height: 50px;
    font-size: 15px;
    margin: 10px 10px;
    /* border: none; */
    /* border-radius: 0;
    border-bottom: 1px solid rgb(144, 129, 241);
    background-color: rgb(144, 129, 241,0); */
}

/* layout样式 */

