<template>
  <el-form :model="query" ref="form" :label-width="'auto'">
    <el-row :gutter="20">
      <div class="row_col">
      <el-col v-for="item in option" :key="item.prop" :span="15">
        <el-form-item :label="item.label" :prop="item.prop">
          <el-input
            v-if="item.type === 'Input'"
            v-model="query[item.prop]"
            :placeholder="'请输入' + item.label"
            :disabled="item.disabled || disabled"
            size="mini"
          ></el-input>
        </el-form-item>
      </el-col>
      </div>
      <!-- 按钮预留插槽 -->
      <div class="btn_fotter">
      <slot />
      </div>
    </el-row>
  </el-form>
</template> 

<script>
export default {
  name: "SearchForm",
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
    query: {
      type: Object,
      default: () => {
        return {};
      },
    },
    option: {
      type: Array,
      default: () => {
        return {};
      },
    },
  },
};
</script>

<style scoped>
.el-row{
  display: flex;
  flex-direction: column;
}
.row_col{
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
.el-col{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  flex-basis: 300px;
}
.btn_fotter{
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  /* justify-content: flex-end; */

}
</style>