<template>
  <el-form :model="form" ref="form" :rules="rules" label-width="80px">
    <!-- 编辑页面 -->
    <el-row>
      <el-col :xl="20" :lg="20" :md="12" :sm="24" :xs="24">
        <el-form-item label="姓名" prop="name">
          <el-input type="input" v-model="form.name"></el-input>
        </el-form-item>
      </el-col>
      <el-col :xl="20" :lg="20" :md="12" :sm="24" :xs="24">
        <el-form-item label="性别" prop="sex">
          <el-select v-model="form.sex" placeholder="请选择性别">
            <el-option label="男" value="man"></el-option>
            <el-option label="女" value="woman"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
// import { getLoanList } from '@/apis/loan';
export default {
  data() {
    return {
      form: {
        name: "",
        sex: "",
      },
      rules: {
        name: { required: true, message: "必须填写用户名" },
        sex: { required: true },
      },
    };
  },
  methods: {
    detail(row){
      // let res =getLoanList(row)
      this.$nextTick(() => {
        this.form.id = row.id;
        this.form.name = row.name;
        this.form.sex = row.sex;
    })
  },
}}
</script>

<style>
</style>