<template>
  <div>
    <el-container>
      <el-aside width="240px">
        <!-- @open="handleOpen" @close="handleClose" 原本在el-menu中-->
        <el-menu
          default-active="2"
          class="el-menu-vertical-demo"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
        >
          <el-menu-item index="1">
            <span slot="title">
              <router-link to="/home">首页</router-link>
            </span>
          </el-menu-item>
          <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>贷款管理</span>
            </template>
            <el-menu-item index="2-1">
              <router-link to="/loan-input/index">贷款申请</router-link>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>申请管理</span>
            </template>
            <el-menu-item index="3-1">
              <router-link to="/application-manage/index">申请列表</router-link>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="4">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>贷款审批</span>
            </template>
            <el-menu-item index="4-1">
              <router-link to="/loan-approval/first">初审</router-link>
            </el-menu-item>
            <el-menu-item index="4-2">
              <router-link to="/loan-approval/end">终审</router-link>
            </el-menu-item>
          </el-submenu>

          <el-submenu index="5">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>合同管理</span>
            </template>
            <el-menu-item index="5-1">
              <router-link to="/contract-manage/index">合同列表</router-link>
            </el-menu-item>
          </el-submenu>
          <el-submenu index="6">
            <template slot="title">
              <i class="el-icon-location"></i>
              <span>权限管理</span>
            </template>
            <el-menu-item index="6-1">
              <router-link to="/permission/create">创建管理员</router-link>
            </el-menu-item>
            <el-menu-item index="6-2">
              <router-link to="/permission/list">列表展示</router-link>
            </el-menu-item>
          </el-submenu>
          <el-menu-item index="7">
            <span slot="title">
              <router-link to="/ceshi">测试</router-link>
            </span>
          </el-menu-item>
        </el-menu>
      </el-aside>
      <el-container>
        <el-header class="header-box">
          <!-- 左侧面包屑 -->
          <div class="left">
            <BreadCrumb />
          </div>
          <!-- 右侧与退出登录 -->
          <div class="right">
            <!-- 下拉菜单 -->
            <el-dropdown @command="logout">
              <span class="el-dropdown-link">
                admin<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="logout">退出登录</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </el-header>
        <el-main>
          <router-view />
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
import BreadCrumb from "@/components/BreadCrumb.vue";
import { logout } from "@/apis/user";

export default {
  components: {
    BreadCrumb,
  },
  methods: {
    async logout(command) {
      // console.log(command);
      // 退出登录业务逻辑
      let res = await logout();
      // console.log(res);
      if (res.data.code === 603) {
        // localStorage.removeItem('token');两个方法都可以
        localStorage.clear();
      }
    },
  },
};
</script>

<style scoped>
.el-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.el-main {
  background-color: aliceblue;
  color: #333;
  text-align: center;
}
.el-menu {
  height: 100%;
  text-align: center;
}
.el-menu-vertical-demo {
  border: none;
}
/* .el-aside{
    height: 100%;
} */
.el-container {
  height: 100vh;
}
.el-menu-item * {
  color: #fff;
}
.el-menu-item a {
  text-decoration: none;
}
.href {
  color: white;
}
/* 选中菜单后标识选中效果 */
.router-link-active {
  color: rgb(255, 208, 75);
}
</style>